# compiled class files
*.class

# package files
*.jar
*.war
*.ear

# gradle
/.gradle
/build/

# maven
/target/

# eclipse, IntelliJ, VSCode
/.classpath
/.project
/.settings
/.idea/
*.iml
.vscode/

# macOS
.DS_Store

# logs
*.log

# local properties
local.properties

# secrets
secrets.* 
*.keystore
*.jks
